body {
  background: fixed;
background-image: url(/Users/cameronrobinson/Git_Repos/CLEHousingHack/Pics/skyscraper-450793_1920.jpg);

color: white;
background-repeat: no-repeat;
background-size: cover;
}

#cardText {
  color: black;
}
h2 a{
  color:#b48484  #b88 ;
}
